.login{
    text-align: center;
    background-color: #205696;
    font-family: 'Urbanist';
    overflow: hidden;
    font-size: 43px;
    min-height: 100vh;
}

.login .usernameLabel{
    margin-top: 10rem;

}

.login .passwordLabel{
    margin-top: 1rem;
}

.login .input{
    width: 13rem;
    height: 3rem;
    border: none;
    border-radius: 10px;
}

.login .button{
    border-radius: 10px;
    width: 5rem;
    height: 2rem;
    border-color: transparent;
}

.login .header{
    font-size: 60px;
    margin-top: 10rem;
}